.pokedex{
    margin-top: 60px;
    &__title{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    &__entry{
        background-color: var(--pokemon-contrast);
        border-radius: 10px;
        border: 3px solid var(--pokemon-black);
        padding: 10px 5px;
        margin-top: 5px;
        cursor: pointer;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
        &:hover{
            background-color: var(--pokemon-red);
            .pokedex__entry-text{
                color: var(--pokemon-contrast);
            }
        }
    }

    &__entry-text{
        color: var(--pokemon-black);
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: Helvetica, Arial, sans-serif;
    }
}