/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

:root {
    --pokemon-red: #ee1515;
    --pokemon-intense-red: #f00000;
    --pokemon-disabled-red: #e4000085;
    --pokemon-black: #222224;
    --pokemon-mid-black: #2222240e;
    --pokemon-contrast: #f0f0f0;

    --pokemon-normal: #A8A77A;
    --pokemon-fire: #EE8130;
    --pokemon-water: #6390F0;
    --pokemon-electric: #F7D02C;
    --pokemon-grass: #7AC74C;
    --pokemon-ice: #96D9D6;
    --pokemon-fighting: #C22E28;
    --pokemon-poison: #A33EA1;
    --pokemon-ground: #E2BF65;
    --pokemon-flying: #A98FF3;
    --pokemon-bug: #A6B91A;
    --pokemon-rock: #B6A136;
    --pokemon-ghost: #735797;
    --pokemon-dragon: #6F35FC;
    --pokemon-dark: #705746;
    --pokemon-steel: #B7B7CE;
    --pokemon-fairy: #D685AD;
    --pokemon-psychic: #F95587;
    --pokemon-shadow: #230323;
    --pokemon-unknown: #68A090;
}

.no-padding{
    padding: 0 !important;
}
